body {
    font-family:url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
    background-color: rgb(2, 7, 56);
}
#container {
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    margin: 20px auto;
}
#calculator {
    width: 316px;
    height: 520px;
    background-color: #ffffff;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0
    rgba(0, 0, 0.19);
}
#result {
    height: 120px;
}
#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    color: black;
}
#keyboard {
    height: 400px;
}
.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 13px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    color: black;
}
.number, .empty {
    background-color: #ffffff;
}
.number, .operator {
    cursor: pointer;
}
.operator:active, .number:active {
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}
button:nth-child(4) {
    font-size: 20px;
    background-color: #000057
}
button:nth-child(8) {
    font-size: 20px;
    background-color: #000085
}
button:nth-child(12) {
    font-size: 20px;
    background-color: #0000ad
}
button:nth-child(16) {
    font-size: 20px;
    background-color: #0000da
}
button:nth-child(20) {
    font-size: 20px;
    background-color: #0000ff
}
